.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.main-link {
  text-decoration: none;
  color: black;
  font-size: 2em;
}

